<main>
  <div class="container">
    <section>
      <h1>Services</h1>
      <ul>
        <li><a href="https://github.com/PioBarGit">Car rental</a></li>
        <li><a href="https://github.com/PioBarGit">Hotels</a></li>
        <li><a href="https://github.com/PioBarGit">Client services</a></li>
      </ul>
    </section>
    <section>
      <h1>About</h1>
      <ul>
        <li><a href="https://github.com/PioBarGit">Development</a></li>
        <li><a href="https://github.com/PioBarGit">History</a></li>
        <li><a href="https://github.com/PioBarGit">Contact</a></li>
      </ul>
    </section>
    <section class="weather" *ngIf="localWeather">
      <h1>{{ localWeather.name }}&nbsp;</h1>
      <h1>{{ localWeather.main.temp | number: "1.0-1" }}&deg;C</h1>
      <img
        src="http://openweathermap.org/img/wn/{{
          localWeather.weather[0].icon
        }}@2x.png"
        alt="Weather Icon"
      />
    </section>
  </div>
  <small class="signature"
    ><a href="https://github.com/PioBarGit"
      >copyright: Piotr Bartkowiak &copy;</a
    ></small
  >
</main>
