<div class="container">
  <section>
    <app-details (toggleSeatEvent)="toggleSeat($event)"></app-details>
  </section>
  <div class="seats">
    <div *ngFor="let row of numOfRows; index as i" class="row">
      <button
        mat-button
        (click)="toggleSeat($event)"
        id="{{ i + 1 }}A"
        [class]="'seat'"
      >
        {{ i + 1 }}A
      </button>
      <button
        mat-button
        (click)="toggleSeat($event)"
        id="{{ i + 1 }}B"
        class="seat"
      >
        {{ i + 1 }}B
      </button>
      <button
        mat-button
        (click)="toggleSeat($event)"
        id="{{ i + 1 }}C"
        class="seat"
      >
        {{ i + 1 }}C
      </button>
      <button
        mat-button
        (click)="toggleSeat($event)"
        id="{{ i + 1 }}D"
        class="seat"
      >
        {{ i + 1 }}D
      </button>
    </div>
  </div>
</div>
