<mat-card>
  <h1>Personalize your flight</h1>
  <div class="col">
    <h3><mat-icon>luggage</mat-icon>please select your luggage options</h3>
    <section>
      <p>
        <mat-checkbox
          [(ngModel)]="flightData.flight.luggage.cabin"
          color="primary"
          >Cabin Bag</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox
          [(ngModel)]="flightData.flight.luggage.checkInSmall"
          color="primary"
          >10kg Check-in Bag</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox
          [(ngModel)]="flightData.flight.luggage.checkInBig"
          color="primary"
          >20kg Check-in Bag</mat-checkbox
        >
      </p>
    </section>
  </div>
  <hr />
  <div class="col">
    <h1></h1>
    <h3><mat-icon>grade</mat-icon>Additional preferences</h3>
    <section>
      <p>
        <mat-checkbox
          aria-hidden="true"
          color="primary"
          [(ngModel)]="flightData.flight.additions.priority"
          >Priority Boarding</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox
          aria-hidden="true"
          color="primary"
          [(ngModel)]="flightData.flight.additions.VIP"
          >VIP lounge access</mat-checkbox
        >
      </p>
      <p>
        <mat-checkbox
          aria-hidden="true"
          color="primary"
          [(ngModel)]="flightData.flight.additions.instantCheckIn"
          >Instant Check-in</mat-checkbox
        >
      </p>
    </section>
  </div>
  <hr />
  <div class="col">
    <h1></h1>
    <h3>
      <mat-icon>airline_seat_recline_normal</mat-icon>Your selected seats are:
    </h3>
    <section>
      <mat-chip-list>
        <mat-chip>01A</mat-chip>
        <mat-chip>11B</mat-chip>
        <mat-chip>21C</mat-chip>
        <mat-chip>32D</mat-chip>
        <mat-chip>21A</mat-chip>
      </mat-chip-list>
    </section>
    <button mat-raised-button color="primary">Confirm</button>
  </div>
</mat-card>
