h1 {
  font-size: 2em;
}
h3 {
  display: inline-block;
  margin-left: 30px;
  position: relative;
}

mat-icon {
  font-size: 2em;
  position: absolute;
  left: -35px;
  top: -4px;
}
mat-chip {
  cursor: pointer;
}
