.container {
  width: 1200px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  position: relative;
  font-size: 1.5rem;
}
.logo {
  color: #fff;
  text-decoration: none;
  span {
    margin-left: 2rem;
  }
}
.login {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  &:hover {
    color: #fffa;
  }
  span {
    margin-right: 2rem;
  }
}
mat-icon {
  position: absolute;
  top: 10%;
  padding: 0 5px;
}

.login {
  margin-left: 20px;
}

@media (max-width: 440px) {
  .container {
    font-size: 1em;
  }
}
