<div>
  <h1 *ngIf="!showRegistration" mat-dialog-title>Log-in</h1>
  <h1 *ngIf="showRegistration" mat-dialog-title>Register</h1>
  <p *ngIf="!showRegistration">Welcome back, please log-in to continue.</p>
  <p *ngIf="showRegistration">Welcome, create a new account to continue.</p>
</div>
<div mat-dialog-content>
  <form #userForm="ngForm" (keydown.enter)="logIn()" id="userForm">
    <mat-form-field *ngIf="showRegistration">
      <mat-label>Enter your first name</mat-label>
      <input
        [(ngModel)]="firstNameInput"
        matInput
        type="text"
        name="firstName"
        required
      />
      <button mat-icon-button matSuffix tabindex="-1">
        <mat-icon>person</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')"
        >Please enter your name!</mat-error
      >
    </mat-form-field>

    <mat-form-field *ngIf="showRegistration">
      <mat-label>Enter your last name</mat-label>
      <input
        [(ngModel)]="lastNameInput"
        matInput
        type="text"
        name="lastName"
        required
      />
      <button mat-icon-button matSuffix tabindex="-1">
        <mat-icon>person</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')"
        >Please enter your last name!</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your E-mail</mat-label>
      <input
        [(ngModel)]="emailInput"
        matInput
        type="email"
        name="email"
        required
        email
      />
      <button mat-icon-button matSuffix tabindex="-1">
        <mat-icon>email</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')"
        >Please enter a valid email!</mat-error
      >
    </mat-form-field>

    <mat-form-field>
      <mat-label>Enter your password</mat-label>
      <input
        [(ngModel)]="passwordInput"
        matInput
        [type]="hide ? 'password' : 'text'"
        name="password"
        required
        minlength="6"
        maxlength="16"
      />
      <button
        mat-icon-button
        matSuffix
        (click)="hide = !hide"
        [attr.aria-label]="'Hide password'"
        [attr.aria-pressed]="hide"
      >
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')"
        >Please enter a valid password!</mat-error
      >
    </mat-form-field>

    <mat-form-field *ngIf="showRegistration">
      <mat-label>Confirm your password</mat-label>
      <input
        [(ngModel)]="confirmPasswordInput"
        matInput
        [type]="hide ? 'password' : 'text'"
        name="confirmPassword"
        required
        pattern="{{passwordInput}}"
      />
      <button mat-icon-button matSuffix (click)="hide = !hide">
        <mat-icon>{{hide ? 'visibility_off' : 'visibility'}}</mat-icon>
      </button>
      <mat-error *ngIf="control.hasError('required')"
        >Please confirm your password!</mat-error
      >
    </mat-form-field>
  </form>

  <p class="alert" *ngIf="wrongPassword">Invalid email or password!</p>

  <p *ngIf="!showRegistration">
    Are you a new user?
    <a (click)="toggleRegistration(); userForm.resetForm()">Register here.</a>
  </p>
  <p *ngIf="showRegistration">
    Already a user?
    <a (click)="toggleRegistration(); userForm.resetForm()">Log-in here.</a>
  </p>
</div>
<div mat-dialog-actions>
  <button
    *ngIf="!showRegistration"
    mat-raised-button
    color="primary"
    (click)="logIn()"
    type="submit"
    form="userForm"
  >
    Log-in
  </button>
  <button
    *ngIf="showRegistration"
    mat-raised-button
    color="primary"
    (click)="userForm.form.valid ? register() : ''"
    type="submit"
    form="userForm"
  >
    Register
  </button>
</div>
