<div class="container">
  <section>
    <mat-tab-group animationDuration="1500ms" mat-align-tabs="center">
      <mat-tab label="New York">
        <div class="foto">
          <img src="assets/newYork.jpg" alt="foto of new york" />
          <h2>
            Visit <br />
            Bustling New&nbsp;York
          </h2>
        </div>
      </mat-tab>
      <mat-tab label="Dubai"
        ><div class="foto">
          <img src="assets/dubai.jpg" alt="foto of dubai" />
          <h2>
            Experience <br />
            Modern &nbsp;Dubai
          </h2>
        </div></mat-tab
      >
      <mat-tab label="London"
        ><div class="foto">
          <img src="assets/london.jpg" alt="foto of london" />
          <h2>
            Enjoy <br />
            Diverse London
          </h2>
        </div></mat-tab
      >
    </mat-tab-group>
  </section>
</div>
