.container {
  max-width: 1200px;
  margin: auto;
  padding: 0 16px;
}

h1 {
  margin: 1em;
  font-size: 4em;
  text-align: center;
  color: #757575;
}

mat-form-field {
  padding-top: 1em;
  font-size: 1.5em;
  width: calc(100% / 3);
}

form {
  button {
    background-color: #fff;
    font-size: 1.5em;
    font-weight: 400;
    color: #757575;
    border-radius: 0;
    border-bottom: 1px solid #757575c4;
    width: 33.33%;
    padding: 0;
    text-align: left;
    top: 1.5px;
  }
}
@media (max-width: 800px) {
  h1 {
    font-size: 3em;
  }
}
@media (max-width: 600px) {
  h1 {
    font-size: 2em;
  }
  .mat-form-field,
  form button {
    width: 100%;
  }
  button {
    margin-top: 1em;
  }
}
